.counterApp {
  align-items: center;
}

.number {
  font-size: 30px;
  padding: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(81, 31, 80);
  color: white;
}
